<a href="https://colab.research.google.com/github/Gakarau/IP-Moringa/blob/main/Independent_Project_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Developing a Hypothesis and Problem Statement

This project seeks to understand or investigate a cliam about the blue electric car usage from the autolib dataset. The goal is to understand how user patterns are impacted by the days of the week. 
Thus, the hypothesis to be tested for this study will be: 

***Null Hypothesis***: There is no significant difference between the number of bluecars taken on weekdays and on weekends 

***Alternate Hypothesis***: Customers take more blue cars on weekends as compared to weekdays.

In [ ]:
#Loading the dataset and Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
Cars = pd.read_csv("/content/AAutolib.csv")
Cars.head()

,Postal code,date,n_daily_data_points,dayOfWeek,day_type,BlueCars_taken_sum,BlueCars_returned_sum,Utilib_taken_sum,Utilib_returned_sum,Utilib_14_taken_sum,Utilib_14_returned_sum,Slots_freed_sum,Slots_taken_sum
0,75001,1/1/2018,1440,0,weekday,110,103,3,2,10,9,22,20
1,75001,1/2/2018,1438,1,weekday,98,94,1,1,8,8,23,22
2,75001,1/3/2018,1439,2,weekday,138,139,0,0,2,2,27,27
3,75001,1/4/2018,1320,3,weekday,104,104,2,2,9,8,25,21
4,75001,1/5/2018,1440,4,weekday,114,117,3,3,6,6,18,20

In [9]:
Cars.info()
Cars.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16085 entries, 0 to 16084
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Postal code             16085 non-null  int64
 1   date                    16085 non-null  object
 2   n_daily_data_points     16085 non-null  int64
 3   dayOfWeek               16085 non-null  int64
 4   day_type                16085 non-null  object
 5   BlueCars_taken_sum      16085 non-null  int64
 6   BlueCars_returned_sum   16085 non-null  int64
 7   Utilib_taken_sum        16085 non-null  int64
 8   Utilib_returned_sum     16085 non-null  int64
 9   Utilib_14_taken_sum     16085 non-null  int64
 10  Utilib_14_returned_sum  16085 non-null  int64
 11  Slots_freed_sum         16085 non-null  int64
 12  Slots_taken_sum         16085 non-null  int64
dtypes: int64(11), object(2)
memory usage: 1.6+ MB

,Postal code,n_daily_data_points,dayOfWeek,BlueCars_taken_sum,BlueCars_returned_sum,Utilib_taken_sum,Utilib_returned_sum,Utilib_14_taken_sum,Utilib_14_returned_sum,Slots_freed_sum,Slots_taken_sum
count,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000,16085.000000
mean,88791.293876,1431.330619,2.969599,125.926951,125.912714,3.698290,3.699099,8.600560,8.599192,22.629033,22.629282
std,7647.342000,33.212050,2.008378,185.426579,185.501535,5.815058,5.824634,12.870098,12.868993,52.120263,52.146030
min,75001.000000,1174.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,91330.000000,1439.000000,1.000000,20.000000,20.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,92340.000000,1440.000000,3.000000,46.000000,46.000000,1.000000,1.000000,3.000000,3.000000,0.000000,0.000000
75%,93400.000000,1440.000000,5.000000,135.000000,135.000000,4.000000,4.000000,10.000000,10.000000,5.000000,5.000000
max,95880.000000,1440.000000,6.000000,1352.000000,1332.000000,54.000000,58.000000,100.000000,101.000000,360.000000,359.000000

In [11]:
#Any Nulls? 
Cars.isnull().sum()

Postal code               0
date                      0
n_daily_data_points       0
dayOfWeek                 0
day_type                  0
BlueCars_taken_sum        0
BlueCars_returned_sum     0
Utilib_taken_sum          0
Utilib_returned_sum       0
Utilib_14_taken_sum       0
Utilib_14_returned_sum    0
Slots_freed_sum           0
Slots_taken_sum           0
dtype: int64

No null values are present!

In [14]:
#Checking for duplicates
Cars.duplicated().any().sum()

0

No duplicate values!